#!/bin/sh

set -e

test -r /usr/share/debconf/confmodule || exit 0
. /usr/share/debconf/confmodule

db_version 2.0

: ${PCCX_ETC:=/etc/pccx}
: ${PCCX_SHARE:=/usr/share/pccx}

if test ! -r $PCCX_ETC/cert.pem; then
	db_set pccx/cert_algorithm ed25519
	db_set pccx/cert_common_name nothing.no.where
	db_set pccx/cert_email nobody@no.where
	db_set pccx/cert_organization unaffiliated
	db_set pccx/cert_organization_unit self
	db_set pccx/cert_locality "San Francisco"
	db_set pccx/cert_state_or_province California
	db_set pccx/cert_country US
	db_set pccx/cert_fqdn nothing.no.where
	db_beginblock
	db_input critical pccx/cert_CN
	db_input critical pccx/cert_email
	db_input critical pccx/cert_O
	db_input critical pccx/cert_OU
	db_input critical pccx/cert_L
	db_input critical pccx/cert_ST
	db_input critical pccx/cert_C
	db_input critical pccx/cert_fqdn
	db_endblock
fi

. $PCCX_SHARE/pccx.sh

test -e $PCCX_ETC/minio_password ||
	db_input medium pccx/minio_password || true

est -e $PCCX_ETC/postgres_password ||
	db_input critical pccx/postgres_password

db_beginblock
for name in \
	keymanager_db_password \
	maas_db_password \
	pcc_db_password \
	phonehome_db_password \
	platinaexecutor_db_password \
	platinamonitor_db_password \
	postgres_db_password \
	security_db_password \
	usermanagement_db_password \
	gateway_keystore_password \
	kafka_password \
	mailer_password \
	phonehome_secret_key \
	security_admin_password \
; do
	test -e $PCCX_ETC/$name || db_input medium pccx/$name || true
done
db_endblock

db_go
