#!/bin/sh

set -e

test -r /usr/share/debconf/confmodule || exit 0
. /usr/share/debconf/confmodule

db_version 2.0

: ${PCCX_ETC:=/etc/pccx}
: ${PCCX_SHARE:=/usr/share/pccx}

if test ! -r $PCCX_ETC/cert.pem; then
	db_set pccx/cert_algorithm ed25519
	db_set pccx/cert_common_name nothing.no.where
	db_set pccx/cert_email nobody@no.where
	db_set pccx/cert_fqdn nothing.no.where
	db_set pccx/cert_organization unaffiliated
	db_set pccx/cert_locality "San Francisco"
	db_set pccx/cert_state_or_province California
	db_set pccx/cert_country US
	db_beginblock
	db_input critical pccx/cert_algorithm
	db_input critical pccx/cert_common_name
	db_input critical pccx/cert_email
	db_input critical pccx/cert_fqdn
	db_input critical pccx/cert_organization
	db_input critical pccx/cert_locality
	db_input critical pccx/cert_state_or_province
	db_input critical pccx/cert_country
	db_endblock
fi

. $PCCX_SHARE/pccx.sh

pccx container load $PCCX_ETC/pccx.env

if test -n "$MINIO_ROOT_PASSWORD"; then
	db_set pccx/MINIO_ROOT_PASSWORD "$MINIO_ROOT_PASSWORD"
else
	db_input medium pccx/MINIO_ROOT_PASSWORD || true
fi

if test -n "$POSTGRES_PASSWORD"; then
	db_set pccx/POSTGRES_PASSWORD "$POSTGRES_PASSWORD"
else
	db_input critical pccx/POSTGRES_PASSWORD
fi

db_beginblock
for name in \
	DB_PASSWORD_KEYMANAGER \
	DB_PASSWORD_MAAS \
	DB_PASSWORD_PCC \
	DB_PASSWORD_PHONEHOME \
	DB_PASSWORD_PLATINAEXECUTOR \
	DB_PASSWORD_PLATINAMONITOR \
	DB_PASSWORD_POSTGRES \
	DB_PASSWORD_SECURITY \
	DB_PASSWORD_USERMANAGEMENT \
	GATEWAY_KEYSTORE_PASSWORD \
	KAFKA_PASSWORD \
	MAILER_PASSWORD \
	PHONEHOME_SECRET_KEY \
	SECURITY_ADMIN_PASSWORD \
; do
	eval val=\$$name
	if test -n "$val"; then
		db_set pccx/$name "$val"
	else
		db_input medium pccx/$name || true
	fi
done
db_endblock

db_go
